body{
    background-color:#151515 ;
}
#Header{
    padding-bottom: 70px;
}
#name{
    color:#FFFFFF;
    font-family: 'Lato';
    font-size: xx-large ;
    font-weight: 800;
    float: left;
    margin-top: 3px
}

#Menu {
    list-style: none;
    margin-top: 21px;
    float: right;
}

.menu{
    display: inline-block;
    padding-right: 15px;
    margin: 0;
    color:#FFFFFF;
    font-family:'Lato';
}

#Profile_picture{   
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 5px solid #151515;
    position:absolute;
    top: 300px;;
    left: 5%;
    
}
#Cover{
    height: 319px;
    width: 1902px;
    background-color: #FFFFFF;
    background-size: cover;
    background-position: center;
    position: relative;
}
